
    <div class="app-topstrip py-1 px-3 bg-dark w-100 d-lg-flex align-items-center justify-content-between mb-5">

        <div class="brand-logo d-flex align-items-center justify-content-start">
            <a th:href="@{/admin/dashboard}" class="text-nowrap logo-img">
                <img src="/assets/images/logos/logo.png" width="130" alt="" />
            </a>
            <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-6"></i>
            </div>
        </div>
        <h1 class="text-white  text-center">University Management System</h1>



        <div class="d-lg-flex align-items-between gap-2 mb-5">
            <div class="d-flex align-items-center justify-content-center gap-2">
                <div class="dropdown d-flex">
                    <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
                        <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">

                            <li class="nav-item dropdown">
                                <a class="nav-link " href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown"
                                   aria-expanded="false">

                                    <img src="/assets/images/profile/user-1.jpg" alt="" width="50" height="50" class="rounded-circle">
                                    <span class="text-white" th:text="${loggedInUsername}">User</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                                    <div class="message-body">
                                        <a href="javascript:void(0)" class="d-flex align-items-center gap-2 dropdown-item">
                                            <i class="ti ti-user fs-6"></i>
                                            <p class="mb-0 fs-3">My Profile</p>
                                        </a>

                                        <form th:action="@{/logout}" method="post">
<!--                                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />-->

                                            <input class="btn btn-outline-primary mx-3 mt-2 d-block" type="submit" value="logout" />
                                        </form>
<!--                                        <a href="login/login.html" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <!-- Sidebar Start -->

    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div>
            <!-- ti ti-user-plus       ti ti-user-circle ti ti-components ti ti-alert-circle ti ti-file ti ti-settings-->
            <nav class="sidebar-nav scroll-sidebar" data-simplebar="">
                <ul id="sidebarnav">
                    <li class="nav-small-cap">
                        <iconify-icon icon="solar:menu-dots-linear" class="nav-small-cap-icon fs-4"></iconify-icon>
                        <span class="hide-menu">Home</span>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" th:href="@{\admin\dashboard}" aria-expanded="false">
                            <i class="ti ti-atom"></i>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                    <!-- ---------------------------------- -->
                    <!-- Dashboard -->
                    <!-- ---------------------------------- -->

<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link justify-content-between"-->
<!--                           href="#" aria-expanded="false">-->
<!--                            <div class="d-flex align-items-center gap-3">-->
<!--                                  <span class="d-flex">-->
<!--                                   <i class="ti ti-user-circle"></i>-->
<!--                                  </span>-->
<!--                                <span class="hide-menu">Profile</span>-->
<!--                            </div>-->

<!--                        </a>-->
<!--                    </li>-->

<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link justify-content-between"-->
<!--                           href="#" aria-expanded="false">-->
<!--                            <div class="d-flex align-items-center gap-3">-->
<!--                                  <span class="d-flex">-->
<!--                                   <i class="ti ti-settings"></i>-->
<!--                                  </span>-->
<!--                                <span class="hide-menu">Edit Profile</span>-->
<!--                            </div>-->

<!--                        </a>-->
<!--                    </li>-->

                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\department\create}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-circle-plus"></i>
                                  </span>
                                <span class="hide-menu">Create Department</span>
                            </div>

                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\teacher\create}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                           <span class="d-flex">
                             <i class="fa-solid fa-circle-plus"></i>
                           </span>
                                <span class="hide-menu">Create Teacher</span>
                            </div>

                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\student\create}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                  <span class="d-flex">
                      <i class="fa-solid fa-circle-plus"></i>
                  </span>
                                <span class="hide-menu">Create Student</span>
                            </div>

                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\course\create}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-circle-plus"></i>
                                  </span>
                                <span class="hide-menu">Create Course</span>
                            </div>

                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\assignTeacherToCourse}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-circle-plus"></i>
                                  </span>
                                <span class="hide-menu">Add Teacher To Course</span>
                            </div>
                        </a>
                    </li>




                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\course\update}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-regular fa-pen-to-square"></i>
                                  </span>
                                <span class="hide-menu">Update Course Details</span>
                            </div>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\course\delete}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-trash"></i>
                                  </span>
                                <span class="hide-menu">Delete Course</span>
                            </div>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\student\update}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-regular fa-pen-to-square"></i>
                                  </span>
                                <span class="hide-menu">Update Student Details</span>
                            </div>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\student\delete}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-trash"></i>
                                  </span>
                                <span class="hide-menu">Delete Student</span>
                            </div>
                        </a>
                    </li>








                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\teacher\update}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-regular fa-pen-to-square"></i>
                                  </span>
                                <span class="hide-menu">Update Teacher Details</span>
                            </div>
                        </a>
                    </li>


                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\teacher\delete}" aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                      <i class="fa-solid fa-trash"></i>
                                  </span>
                                <span class="hide-menu">Delete Teacher</span>
                            </div>
                        </a>
                    </li>





<!--                    <li class="sidebar-item">-->
<!--                        <a class="sidebar-link justify-content-between"-->
<!--                           href="#" aria-expanded="false">-->
<!--                            <div class="d-flex align-items-center gap-3">-->
<!--                                  <span class="d-flex">-->
<!--                                    <i class="ti ti-list-details"></i>-->
<!--                                  </span>-->
<!--                                <span class="hide-menu">Contact List</span>-->
<!--                            </div>-->

<!--                        </a>-->
<!--                    </li>-->





                    <li class="sidebar-item">
                        <a class="sidebar-link justify-content-between"
                           th:href="@{\admin\getMarksheetForm}"
                           aria-expanded="false">
                            <div class="d-flex align-items-center gap-3">
                                  <span class="d-flex">
                                    <i class="ti ti-user-search"></i>
                                  </span>
                                <span class="hide-menu">Search Result</span>
                            </div>
                        </a>
                    </li>







                </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>


